*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

body{
    background: linear-gradient(45deg, black, rgb(47, 47, 47));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    height: 65vh;
    width: 40vh;
    border: 1px solid gray;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


input{
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-align: right;
    padding: 0 20px;
    color: #FFF;
    background: transparent;
    border: none;
    outline: none;
} 

.line{
    height: 10vh;
    width: 100%;
    /* border: 1px solid gray; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.circles{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.circles:hover{
    cursor: pointer;
}

